*{
	font-family: 'Didact Gothic';
}

h1 {
	font-family: 'PT Serif';
	text-align: center;
}

h2 {
	font-family: 'Yrsa';
	text-align: center;
}
header{
	justify-content: space-around;
	padding-right: 20%;
	margin-left: 5%;
	margin-right: 5%;
	width: 71%;
	box-sizing: content-box;
	height: 61%;
}


.fondo {
	margin-top: 1%;
	margin-left: 8%;
	width: 75%;
	height: 25%;
	position: absolute;
	background-color: #d9b29e
}

ul{
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

ul li{
	position: relative;
	list-style: none;
}


ul li a{
	font-size: 2em;
	position: relative;
	text-decoration:none;
	line-height: 1em;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 1px rgba(255,255,255,05);
}

nav	{
	padding-left: 2px;
	padding-top: 25%;
	background-color: #f9cccf;
	height: 680px;
}

ul li a::before{
	content: attr(data-text);
	position: absolute;
	color: #b06e4b;
	width: 0;
	overflow: hidden;
	transition: 1s;
	border-right: 4px solid var(--clr);
	-webkit-text-stroke: 1px #b06e4b;
}

form{
	display: flex;
  	flex-direction: column;
  	gap: 20px;
	width: 250px;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#habilidades img{
	margin-top: 20px;
} 
ul li a:hover::before{
	width: 100%;
	filter: drop-shadow(0 0 25px #b06e4b);
}

.titulo {
	display: grid;
	grid-template-columns: 1fr ;
	justify-items: center;
	color: white;
}

.cabecera {
	margin-left: 5%;
	width: 100%;
	padding-right: 5%;
	justify-content: space-around;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	background-color: #b06e4b;
}

#educacion {
	background-color: #b06e4b;
}

header img{
	max-width: 200px;
	max-height: 500px;
	margin-left: 20%;
	margin-right: 10%;
}

#contenedor-principal {
	display: grid;
	grid-template-columns: 370px 1fr ;
	grid-gap: 10px;
	margin-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }
  
  main {
	flex: 1;
  }

iframe{
	margin-top: 20px;
}

#informacion-personal section {
	border-radius: 25px;
	padding: 20px;
	display: flex;
	background-color: #f9cccf;
	justify-content: space-around;
	margin-top: 40px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#informacion-personal #habilidades{
	margin-top: 60px;
}

#informacion-personal div{
	padding: 20px;
	font-size: 17px;
}

#titulo-info{
	background-color: #b06e4b;
	position: absolute;
	width: 250px;
	text-align: center;
	border-radius: 15px;
	color: white;
	margin-left: 150px;
	font-weight: bold;
}

#titulo-info2{
	margin-top: 20px;
	background-color: #b06e4b;
	position: absolute;
	width: 250px;
	text-align: center;
	border-radius: 15px;
	color: white;
	margin-left: 150px;
	font-weight: bold;
}

#titulo-objetivo{
	background-color: #b06e4b;
	position: absolute;
	width: 250px;
	text-align: center;
	border-radius: 15px;
	color: white;
	margin-left: 50px;
	font-weight: bold;
	height: 40px;
	padding-top: 20px;
}

#titulo-proyectos{
	padding-top: 20px;
	margin-top: -20px;
	background-color: #b06e4b;
	position: absolute;
	width: 250px;
	text-align: center;
	border-radius: 15px;
	color: white;
	margin-left: 150px;
	font-weight: bold;
	padding-bottom: 20px;
}
.seccion-cv {
	background-color: var(--clr);
}

#objetivo section {
	text-align: center;
	border-radius: 25px;
	padding: 20px;
	display: flex;
	background-color: #f9cccf;
	justify-content: space-around;
	margin-top: 40px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#experiencia section 
{
	border-radius: 25px;
	padding: 20px;
	background-color: #f9cccf;
	margin-top: 40px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

nav img{
	width: 200px;
	height: 400px;
	object-fit: contain;
	margin-left: 20%;
}

#proyectos{
	border-radius: 25px;
	background-color: #f9cccf;
	margin-top: 40px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

footer {
	background-image: url(https://i.postimg.cc/8cZ991tf/fondo-form.jpg);
	display: flex;
  	flex-direction: column;
  	align-items: center; 
  	justify-content: space-evenly; 
	width: 92%;
	margin-left: 45px;
	margin-top: 10px;
}



label {
	margin-left: 10px;
}

input {
	margin-left: 10px;
}

.card{
	position: relative;
	max-width: 300px;
	height: 200px;
	background-color: white;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	transition: 0.3s ease-in-out;
}

.card .img0x {
	position: relative;
	width: 260px;
	height: 260px;
	left: 20px;
	z-index: 1;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
}

.container .card:hover {
	height: 270px;
}
.container .card .content {
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: black;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.container .card:hover .content {
	visibility: visible;
	opacity: 1;
	margin-top: -20px;
	transition-delay: 0.3s;
}


